modules = ["nodejs-24", "postgresql-16", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 3003

[[ports]]
localPort = 18115
externalPort = 3001

[[ports]]
localPort = 18116
externalPort = 3002

[userenv]

[userenv.shared]
EXPO_PUBLIC_API_KEY = "fe9a7925f7760de79e4bd40df25122f80ad4a8bb5d0ba7613ffa85c38f664226"
API_AUTH_KEY = "fe9a7925f7760de79e4bd40df25122f80ad4a8bb5d0ba7613ffa85c38f664226"

[userenv.development]
ASHLEY_MATURE_MODE_AVAILABLE = "true"

[nix]
channel = "stable-25_05"
